@import 'variables'

// REBOOT
html,
body
	margin: 0
	padding: 0
	width: 1920px
	overflow-x: hidden
	font-family: 'Montserrat', sans-serif

h1,
h2,
h3,
h4,
h5,
h6,
p
	margin: 0
	padding: 0

.animated
	visibility: visible !important

// HERO PANEL
#hero
	display: flex
	align-items: center
	justify-content: center
	height: 942px
	background-repeat: no-repeat
	background-size: cover

	&.hero1
		background-image: url("../assets/HERO 1.jpg")

	&.hero2
		background-image: url("../assets/HERO 2.jpg")

	&.hero3
		background-image: url("../assets/HERO 3.jpg")

	& > .hero-text
		width: 910px
		text-align: center

		& h1
			font-size: 116px
			font-weight: 900
			letter-spacing: 0.5px
			text-transform: uppercase
			color: $red

		& h2
			margin-top: -42px
			font-size: 70px
			font-weight: 900
			text-transform: uppercase
			color: $white

		& > .subtext
			margin: 0 auto
			width: 850px
			font-size: 20px
			color: $white

// BELOW THE FOLD STYLES
.container
	width: 100%
	background-image: url("../assets/SPLASH WATERMARK.png")
	background-repeat: no-repeat
	background-position: right bottom

	& p
		margin: 8px 0
		padding-right: 185px
		font-size: 14px

		&.key
			font-weight: 900
			color: $red

.spacer
	height: 68px
	background: $red

	&.clear
		background: none

.row
	display: flex
	flex-direction: row
	width: 100%
	background: $white
	background: rgba($white, 0.95)

	& > .col-1
		display: flex
		flex-direction: column
		flex-basis: 570px

	& > .col-2
		display: flex
		flex-direction: column
		flex-basis: 385px

	& > .col-3
		display: flex
		flex-direction: column
		flex-basis: 965px
		padding-left: 45px

	& .inner-row
		display: flex
		flex-direction: row

h3
	line-height: 45px
	font-size: 45px
	text-transform: uppercase
	color: $red

	& small
		color: $black

hr
	margin: 25px 0
	width: 99%
	border: 4px solid $black

#body-copy
	@include vis-0

.video
	position: absolute
	top: 760px
	left: 581px
	box-shadow: 0px 0px 25px $black

// COLLAGE STYLES
.collage-img
	padding: 5px

	&#img1
		padding-top: 10px
		padding-left: 0px
		@include vis-0

	&#img2
		padding-bottom: 10px
		padding-left: 0
		@include vis-0

	&#img3
		padding-bottom: 10px
		@include vis-0

	&#img4,
		padding-right: 10px
		@include vis-0

	&#img5
		width: 237px
		@include vis-0
